/.github/	export-ignore
/.gitattributes	export-ignore
/readme.md	export-ignore
/.gitignore	export-ignore
/nettoyage_sd.bat	export-ignore
/sha256_pack.txt	export-ignore
/sha256_AIO_LS_pack_Updater.txt	export-ignore